body{
    background-color: antiquewhite;
}

#container{
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: larger;
}

input{
    text-align: center;
    font-size: 20px;
    border-style: solid;
    width: 200px;
    border-radius: 10px;
    font-weight: bold;
}

button{
    padding: 5px 10px;
    font-size: 15px;
    background-color: red;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: aqua;
    color: black;
}

button:active{
    background-color: rgba(0, 132, 255, 0.462);
    color: black;
}

#result{
    margin: 20px;
}

#diceImg img{
    width: 150px;
    margin: 5px;
}